extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each val in messages
      ul
        li= val.user
          p= val.text 
          p= val.added

  //- a(href='/new') Write

  form(method="POST" action="/new")
    input(type="text", name="text", placeholder="enter message", required=true)
    input(type="text", name="user", placeholder="enter username", required=true)
    input(type="submit", value="Submit")